.additional-products {
  //стили//
}

.additional-products__title {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.additional-products__list {
  list-style-type: none;
}

.additional-products__item {
  color: #222222;
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.additional-products__banner {
  //стили//
}
