.additional-products {
  //стили//
}

.additional-products__title {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 34px;
  position: relative;
  width: fit-content;
  background: $light-bg-color;
  box-shadow: -40px 0 0 0 $light-bg-color, 40px 0 0 0 $light-bg-color;


  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-top: 74px;
    margin-bottom: 80px;
    padding-left: 40px;
    box-shadow: 40px 0 0 0 $light-bg-color;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0;
    margin-top: 71px;
    margin-bottom: 79px;
    box-shadow: -40px 0 0 0 $light-bg-color, 40px 0 0 0 $light-bg-color;
  }
}

.additional-products__title::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 0;
  width: 100vw;
  height: 2px;
  background: $green-font-color;
  box-shadow: 100vw 0 0 0 $green-font-color;
  z-index: -1;

  @media (min-width: $tablet-width) {
    box-shadow: 100vw 0 0 0 $green-font-color;
  }

  @media (min-width: $desktop-width) {
    top: 45%;
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 80px;
  }
}

.additional-products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    border: 1px solid $primary-border-color;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 896px;
    margin: 0;
    border: none;
  }
}

.additional-products__item {
  color: #222222;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border-top: 1px solid $primary-border-color;
  padding: 13px 0 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 26px 0 28px;
    border-top: 1px solid $primary-border-color;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 14px 0 16px;
  }
}

.additional-products__item:first-of-type {
  border-top: 1px solid $primary-border-color;

  @media (min-width: $tablet-width) {
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    border-top: 1px solid $primary-border-color;
  }
}

.additional-products__item:last-of-type {
  border-bottom: 1px solid $primary-border-color;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $primary-border-color;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $primary-border-color;
  }
}

.additional-products__banner {
  display: flex;
  min-height: 290px;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    min-height: 288px;
  }
}
