.card-goods {
  //стили//
}

.card-goods__list {
  list-style-type: none;
}

.card-goods__item {
  color: $basic-font-color;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
}

.card-goods__amount {
  //стили//
}

.card-goods__value {
  //стили//
}

.card-goods__button {
  text-decoration: none;
}
