.card__link {
  text-decoration: none;
}

.card__title {
  color: #222222;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.card__list {
  list-style-type: none;
}

.card__item {
  font-size: 12px;
  line-height: 16px;
}

.card__parameter {
  //стили//
}

.card__value {
  //стили//
}

.card__button {
  text-decoration: none;
}

.card--add {
  background-image: url("../../icons/stack.svg#plus-icon");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 0 30%;
}

.card__wrapper {
  //стили//
}

.card__description {
  font-size: 12px;
  line-height: 16px;
}
