.cooperation {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 565px 575px 1fr;
  }
}

.cooperation__wrapper-text {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    z-index: 3;
    background-color: #ffffff;
    margin: 95px 0 106px;
  }
}

.cooperation__information {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $desktop-width) {
    gap: 87px;
    padding: 60px 40px;
  }
}

.cooperation--index {
  background-color: #ffffff;
}

.cooperation__title {
  color: #111111;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  flex: 0 0 50%;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    max-width: 163px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__address {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  margin: 0;
  flex: 0 0 50%;
  max-width: 140px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    max-width: 157px;
  }
}

.cooperation__wrapper-img {
  @media (min-width: $desktop-width) {
    grid-column: 1/5;
    grid-row: 1/2;
  }
}

.cooperation__img {
  display: block;
  width: 100%;
  height: 100%;
}

picture {
  margin: 0;
  padding: 0;
  height: auto;
}
