.cooperation {
  //стили//
}

.cooperation--index {
  //стили//
}

.cooperation__title {
  color: #111111;
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.cooperation__address {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.cooperation__img {
  //стили//
}
