.example {
  background-color: #eaeaea;
}

.example__title {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  list-style-type: none;
}

.example__item {
  //стили//
}

.example__number {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.example__value {
  font-size: 14px;
  line-height: 14px;
}

.example__cost {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__cost-title {
  //стили//
}

.example__cost-number {
  //стили//
}

.example__slider {
  //стили//
}
