.fitness-goal {
  //стили//
}

.fitness-goal__list {
  list-style-type: none;
}

.fitness-goal__item {
  position: relative;
  background-color: #f2f2f2;
}

.fitness-goal__item--slim::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-slim-icon");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  width: 50px;
  height: 53px;
  top: 0;
  left: 0;
}

.fitness-goal__item--gain::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-pro-icon");
  background-repeat: no-repeat;
  background-size: 67px 50px;
  width: 67px;
  height: 50px;
  top: 0;
  left: 0;
}

.fitness-goal__title {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.fitness-goal__description {
  font-size: 14px;
  line-height: 18px;
}

.fitness-goal__link {
  position: relative;
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}

.fitness-goal__link::after {
  content: "";
  display: block;
  position: absolute;
  mask-image: url("../../icons/stack.svg#arrow-icon");
  background-color: #000000;
  width: 24px;
  height: 12px;
  top: 7px;
  left: 100px;
}
