.fitness-goal {
  //стили//
}

.fitness-goal__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 52px;
    justify-content: space-between;
  }
}

.fitness-goal__item {
  position: relative;
  background-color: $additional-bg-color;
  padding: 30px 33px 18px 20px;
  margin-bottom: 19px;
  flex: 0 0 100%;

  @media (min-width: $tablet-width) {
    padding: 78px 316px 53px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 37.5%;
    padding: 77px 61px 59px 52px;
    margin-bottom: 0;
  }
}

.fitness-goal__item--slim::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-slim-icon");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  width: 50px;
  height: 53px;
  top: 21px;
  left: 20px;

  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
    width: 200px;
    height: 211px;
    top: 81px;
    left: calc(100% - 264px);
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 106px;
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }
}

.fitness-goal__item--gain::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-pro-icon");
  background-repeat: no-repeat;
  background-size: 67px 50px;
  width: 67px;
  height: 50px;
  top: 23px;
  left: 12px;


  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
    width: 268px;
    height: 200px;
    top: 93px;
    left: calc(100% - 297px);
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    width: 134px;
    height: 100px;
    top: 45px;
    left: 34px;
  }
}

.fitness-goal__title {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
  }
}

.fitness-goal__description {
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 0 15px;
  padding-top: 29px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    margin-bottom: 0;
    padding-top: 24px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    padding-bottom: 27px;
  }
}

.fitness-goal__link {
  position: relative;
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    min-width: 108px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0.2;
  }
}

.fitness-goal__link:active,
.fitness-goal__link:active::after {
  opacity: 0.3;
}

.fitness-goal__link::after {
  content: "";
  display: block;
  position: absolute;
  mask-image: url("../../icons/stack.svg#arrow-icon");
  mask-position: 0 0;
  mask-size: 25px 12px;
  background-color: $basic-font-color;
  width: 25px;
  height: 12px;
  top: 5px;
  left: 100px;

  @media (min-width: $tablet-width) {
    top: 8px;
    left: 131px;
  }
}

.fitness-goal__link:hover::after,
.fitness-goal__link:active::after {
  scale: 1.4;
}
