.hero {
  color: #ffffff;
  opacity: 0.85;
  background-color: $green-font-color;
  text-align: center;
  min-height: 498px;
  padding-bottom: 20px;


  @media (min-width: $tablet-width) {
    color: $additional-font-color;
    background-color: #ffffff;
    text-align: left;
    padding-left: 90px;
    padding-top: 65px;
    min-height: 875px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    min-height: 694px;
    padding-left: 80px;
    padding-top: 110px;
    padding-bottom: 82px;
  }
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    max-width: 500px;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.hero__img {
  display: block;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    position: absolute;
    left: 30px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 30px;
    left: 40%;
    z-index: -1;
  }
}

.hero__button {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 244px;
  }
}
