.logo {
  display: flex;
  align-items: center;
  gap: 40%;


  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.logo__trademark {
  display: block;
  width: 33px;

  @media (min-width: $tablet-width) {
    width: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
  }
}

.logo__text {
  display: block;
  width: 101px;

  @media (min-width: $desktop-width) {
    width: 118px;
  }
}
