.main-header {
  background-color: $light-bg-color;
  border-bottom: 1px solid #e6e6e6;
  color: $additional-accent-color;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-header--index {
  position: relative;
  color: $light-bg-color;
}

.main-header--index::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  width: 100%;
  min-height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    inset: 0 0 0 50%;
    width: 50%;
    min-height: 694px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
}

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 55px;
    min-height: 60px;
  }
}

.main-header__logo {
  text-decoration: none;
  padding: 0;
}

.main-header__toggle {
  display: block;
  background-image: url("../../icons/stack.svg#menu-open-icon");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__nav {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;

  @media (min-width: $tablet-width) {
    display: block;
    position: static;
    width: auto;
  }
}

.main-header--opened .main-header__nav {
  display: block;
}

.main-header--opened .main-header__toggle {
  background-image: url("../../icons/stack.svg#menu-close-icon");
  background-size: 18px 18px;
}

.main-header--nojs .main-header__nav {
  position: static;
  display: block;
}

.main-header--nojs .main-header__toggle {
  display: none;
}
