.main-navigation {
  //стили//
}

.main-navigation__logo {
  text-decoration: none;
}

.main-navigation__toggle--close {
  background-image: url("../../icons/stack.svg#menu-close-icon");
}

.main-navigation__toggle {
  background-image: url("../../icons/stack.svg#menu-open-icon");
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  border: none;
}

.main-navigation__list {
  //стили//
}
