.main-navigation {
  //стили//
}

.main-navigation__list {
  margin: 0;
  padding: 0;


  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border: none;
    max-width: 475px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 475px;
  }
}
