.page {
  height: 100%;
}

.page__body {
  color: $basic-font-color;
  background-color: #ffffff;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  min-width: 320px;
}
