.point {
  display: block;
}

.point--one::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#leaf-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 28px;
  background-color: $green-font-color;
  width: 60px;
  height: 60px;
}

.point--two::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#powder-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 28px;
  background-color: $green-font-color;
  width: 60px;
  height: 60px;
}

.point--three::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#meal-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;
  background-color: $green-font-color;
  width: 60px;
  height: 60px;
}

.point--four::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#clock-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 30px;
  background-color: $green-font-color;
  width: 60px;
  height: 60px;
}
