.product-use {
  background-color: #ffffff;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 69px;
  }
}

.product-use__title {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.product-use__list {
  margin: 0;
  padding: 0;
  counter-reset: number;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 37px 153px;
  }

  @media (min-width: $desktop-width) {
    gap: 70px;
  }
}

.product-use__item {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    max-width: 230px;
    min-height: 280px;
    padding-bottom: 0;
  }
}
