.purchase-gift {
  display: block;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-banner-mobile@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-banner-tablet@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-banner-desktop@2x.jpg");
  }
}

.purchase-gift__description {
  position: relative;
  color: $light-bg-color;
  font-size: 16px;
  line-height: 20px;
  padding: 186px 59px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 165px;
    text-align: left;
    margin: 0 125px 0 auto;
    padding: 70px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 42px 43px;
    margin: 0;
    text-align: center;
  }
}

.purchase-gift__description::after {
  content: "";
  position: absolute;
  display: block;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../icons/stack.svg#catalog-gift-icon");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;

  @media (min-width: $tablet-width) {
    left: 10%;
    transform: translateX(-500%);
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    transform: translateX(-50%);
  }
}
