.site-list {
  list-style-type: none;
  background-color: $light-bg-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    justify-content: space-between;
    border-bottom: none;
    gap: 32px;
  }

  @media (min-width: $desktop-width) {
    gap: 31px;
    background-color: transparent;
  }
}

.site-list__item {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  margin-left: -20px;
  margin-right: -20px;
  background-color: $light-bg-color;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    border: none;
    margin: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $light-bg-color;
    background-color: transparent;
  }
}

.site-list__link {
  color: $additional-font-color;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    color: $additional-accent-color;
  }
}

.site-list__link:hover {
  opacity: 60%;
}

.site-list__link:active {
  opacity: 30%;
}

.site-list__link-index {
  @media (min-width: $desktop-width) {
    color: $light-bg-color;
  }
}

.site-list__link--current {
  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    border-bottom: 2px solid $green-font-color;
    opacity: 1;
  }
}

.site-list__link-index--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $light-bg-color;
  }
}
