.site-list {
  // display: none;
  list-style-type: none;
  background-color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    gap: 31px;
  }
}

.site-list__item {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #e6e6e6;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    border: none;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__link {
  color: $additional-font-color;
  text-decoration: none;
}

.site-list__link--current {
  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    border-bottom: 2px solid $green-font-color;
  }


  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}
