.slider {
  //стили//
}

.slider__image {
  //стили//
}

.slider__image--before {
  //стили//
}

.slider__image--after {
  //стили//
}

.slider__button {
  position: relative;
  padding: 0;
  background-color: #666666;
  width: 4px;
  height: 256px;
  border-radius: 2px;
  border: none;
  left: 20px;
}

.slider__button::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
}

.slider__button::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#slider-button-icon");
  width: 24px;
  height: 18px;
  transform: translate(-50%, -50%);
}
