.slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.slider__wrapper {
  width: 100%;
  overflow: hidden;
}

.slider__wrapper--before {
  grid-column: 1/2;
  grid-row: 1/2;
}

.slider__wrapper--after {
  grid-column: 2/3;
  grid-row: 1/2;
}

.slider__image {
  display: block;
}

.slider__image--before {
  width: 280px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__image--after {
  width: 280px;
  height: auto;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__button {
  position: relative;
  padding: 0;
  background-color: #666666;
  width: 4px;
  height: 256px;
  border-radius: 2px;
  border: none;
  left: 0;
  z-index: 10;
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.slider__button::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  transform: translate(-45%, -50%);
}

.slider__button::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#slider-button-icon");
  width: 24px;
  height: 18px;
  transform: translate(-40%, -50%);
}
