.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}

.social__item {
  //стили//
}

.social__link {
  //стили//
}

.social__link--vk {
  &::after {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#logo-vkontakte");
    background-color: #666666;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    width: 28px;
    height: 22px;
  }
}

.social__link--yt {
  &::after {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#logo-youtube");
    background-color: #666666;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    width: 28px;
    height: 22px;
  }
}

.social__link--tg {
  &::after {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#logo-telegram");
    background-color: #666666;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    width: 28px;
    height: 22px;
  }
}

.social__link--vk:hover::after,
.social__link--yt:hover::after,
.social__link--tg:hover::after {
  background-color: $green-font-color;
}

.social__link--vk:active::after,
.social__link--yt:active::after,
.social__link--tg:active::after {
  background-color: $green-font-color;
  opacity: 0.3;
}
