.social {
  //стили//
}

.social__list {
  list-style-type: none;
}

.social__item {
  //стили//
}

.social__link {
  //стили//
}

.social__link--vk {
  &::after {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#logo-vkontakte");
    background-color: #666666;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    width: 28px;
    height: 22px;
  }
}

.social__link--yt {
  &::before {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#logo-youtube");
    background-color: #666666;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    width: 28px;
    height: 22px;
  }
}

.social__link--tg {
  &::after {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#logo-telegram");
    background-color: #666666;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    width: 28px;
    height: 22px;
  }
}
