.special-offers {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-weight: 400;
}

.special-offers__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 40px 0 32px;

  position: relative;
  width: fit-content;
  background: $light-bg-color;
  box-shadow: -40px 0 0 0 $light-bg-color 40px 0 0 0 $light-bg-color;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-top: 80px;
    margin-bottom: 66px;
    padding: 0 40px;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 34px;
    margin-top: 96px;
    margin-bottom: 72px;
  }
}

.special-offers__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  left: -20px;
  width: 100vw;
  height: 2px;
  background: $green-font-color;
  box-shadow: 100vw 0 0 0 $green-font-color;
  z-index: -1;

  @media (min-width: $tablet-width) {
    right: -30px;
    left: -30px;
  }

  @media (min-width: $tablet-width) {
    right: -40px;
    left: -40px;
  }
}

.special-offers__description {
  font-size: 16px;
  line-height: 24px;
  max-width: 80%;
  margin: 0 auto 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.special-offers__form {

  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}
