.special-offers {
  color: $additional-font-color;
  font-family: $secondary-font;
  font-weight: 400;
}

.special-offers__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.container {
  //стили//
}

.special-offers__description {
  font-size: 24px;
  line-height: 32px;
}

.special-offers__form {
  //стили//
}
