.subscribe-form {
  display: flex;
  flex-direction: column;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.subscribe-form__input {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  padding: 13px;
  margin-bottom: 16px;
  outline: 1px solid $primary-border-color;
  border: none;

  @media (min-width: $tablet-width) {
    width: 350px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
  }
}

.subscribe-form__input:hover {
  outline: 1px solid $primary-border-color;
}

.subscribe-form__input:focus {
  outline: 2px solid $basic-font-color;
}

.subscribe-form__input:user-invalid {
  outline: 2px solid $input-red-color;
}


.subscribe-form__button {
  width: auto;
  padding: 0 13px;
  font-size: 20px;
  line-height: 26px;
  min-height: 56px;
  border: 1px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 256px;
  }
}
